.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}


#sidebar {
  min-width: 350px;
  max-width: 350px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -350px;
}

#sidebar {
  background: #333333;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #333333;
  text-align: center;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
}
